# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.orig

# Git merge conflict backup files
*BACKUP_*
*BASE_*
*LOCAL_*
*REMOTE_*


# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Build / Output
build/
.gradle/
out/
bin/
obj/

# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
.venv/
.ipynb_checkpoints

# # 1. Python 전체 무시
# app/SAI/SAI/SAI.Application/Python/**

# 2. scripts 폴더 제외
!app/SAI/SAI/SAI.Application/Python/scripts/

# 3. scripts 폴더 중 특정 파일은 무시
app/SAI/SAI/SAI.Application/Python/scripts/train_script.py
app/SAI/SAI/SAI.Application/Python/scripts/practice_script.py

# 4. 나머지 scripts 폴더는 추적
!app/SAI/SAI/SAI.Application/Python/scripts/*.py


# 모델, 결과, 캐시 무시
*.pt
*.pth
*.zip
*.log
*.onnx


# Java
*.class
*.jar
*.war
*.ear

# Android / Kotlin
*.apk
*.aab
local.properties
.externalNativeBuild/
.cxx/

# VS / Windows
*.suo
*.user
*.userosscache
*.sln.docstates
*.stackdump
*.dbmdl
*.vsidx
*.htm
**/.vshistory/
**/.vs/
**/.vs/**
.vs/
/.vs/
app/SAI/.vs/
app/SAI/SAI/SAI.App/.vs/
app/SAI/packages/
app/SAI/SAI/package.config
app/SAI/SAI/bin/
app/SAI/SAI/obj/8
.vs
**/.vshistory
app/SAI/SAI/.vs/
/app/SAI/SAI/.vs
# Inference images directory
app/SAI/SAI/inference_images/
**/inference_images/


# Firebase
backend/src/main/resources/firebase/firebase_service_key.json

# Environment files
.env
.env.*
!.env.example

# Cache / Coverage
.cache/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Others
*.swp
.history/
.idea/httpRequests

c
c-journal
