# OS-specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.orig

# Git merge conflict backup files
*BACKUP_*
*BASE_*
*LOCAL_*
*REMOTE_*


# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Build / Output
build/
.gradle/
out/
bin/
obj/

# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
.venv/
.ipynb_checkpoints

# 1. Python 폴더 전체를 먼저 무시
app/SAI/SAI/SAI.Application/Python/**

# 2. scripts 폴더는 추적 대상으로 설정
!app/SAI/SAI/SAI.Application/Python/scripts/

# 3. scripts 폴더의 모든 .py 파일은 추적
!app/SAI/SAI/SAI.Application/Python/scripts/*.py

# 4. 명시적으로 무시할 특정 파일들
app/SAI/SAI/SAI.Application/Python/scripts/tutorial_script.py
app/SAI/SAI/SAI.Application/Python/scripts/practice_script.py

# runs 폴더의 모든 파일 무시 (폴더 자체는 유지)
runs/*

# runs/detect 폴더 추적
!runs/detect/
# runs/detect 폴더 내부 파일 무시
runs/detect/*
# runs/detect 폴더 유지를 위한 .gitkeep 파일 추적
!runs/detect/.gitkeep

# runs/result 폴더 추적
!runs/result/
# runs/result 폴더 내부 파일 무시
runs/result/*
# runs/result 폴더 유지를 위한 .gitkeep 파일 추적
!runs/result/.gitkeep

# dataset 폴더의 모든 파일 무시 (폴더 자체는 유지)
dataset/*
# dataset 폴더 유지를 위한 .gitkeep 파일 추적
!dataset/.gitkeep


# 모델, 결과, 캐시 무시
*.pt
*.pth
*.zip
*.log
*.onnx


# Java
*.class
*.jar
*.war
*.ear

# Android / Kotlin
*.apk
*.aab
local.properties
.externalNativeBuild/
.cxx/

# VS / Windows
*.suo
*.user
*.userosscache
*.sln.docstates
*.stackdump
*.dbmdl
*.vsidx
*.htm
**/.vshistory/
**/.vs/
**/.vs/**
.vs/
/.vs/
app/SAI/.vs/
app/SAI/SAI/SAI.App/.vs/
app/SAI/packages/
app/SAI/SAI/package.config
app/SAI/SAI/bin/
app/SAI/SAI/obj/8
.vs
**/.vshistory
app/SAI/SAI/.vs/
/app/SAI/SAI/.vs
# Inference images directory
app/SAI/SAI/inference_images/
**/inference_images/


# Firebase
backend/src/main/resources/firebase/firebase_service_key.json

# Environment files
.env
.env.*
!.env.example

# Cache / Coverage
.cache/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Others
*.swp
.history/
.idea/httpRequests

c
c-journal
