<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<application>
		<highDpiSettings>
			<dpiAwareness xmlns="http://schemas.microsoft.com/SMI/2016/WindowsSettings">PerMonitorV2</dpiAwareness>
		</highDpiSettings>
	</application>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>
	</appSettings>
</configuration>